@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


/*Header*/

li,
a,
button {
    text-decoration: none;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgb(0 0 0 / 5%);
    display: flex;
    width: 100%;
    height: 70px;
    padding-left: 28px;
    padding-right: 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 1;
}

.logo-header {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo-header img {
    cursor: pointer;
    width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: stretch;
    margin-left: 35px;
    transition: transform 0.2s ease-in-out;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation ul li {
    display: flex;
    align-items: stretch;
}

.nav-item a {
    background-color: #ffffff;
    color: #3C3C3C;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0 18px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.nav-item a:hover {
    background-color: #94C866;
    color: #fff;
}

.location-header {
    margin-left: auto;
    align-items: center;
    border-right: solid 1px #e1e4e8;
    padding-right: 2rem;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    display: flex;
}

.location-header a span {
    display: flex;
    align-items: center;
    color: #000;
    line-height: 120%;
    margin-right: 0px;
    max-width: 15rem;
    margin-top: 5px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.location-header a span i {
    color: #316E35;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sign {
    display: flex;
    align-items: stretch;
    position: relative;
}

.btn-in {
    background-color: transparent;
    color: #000;
    font-weight: 400;
    letter-spacing: 0;
    border: none;
    cursor: pointer;
    padding: 0 14px;
    transition: .3s;
}

.btn-in:hover {
    background-color: #94C866;
    color: #fff;
}


/* Section Beranda */

.beranda {
    position: relative;
    width: 100%;
    height: calc(100vh - 23.5rem);
    min-height: 100vh;
    background-image: url(img/background-beranda.png);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.beranda::before {
    content: '';
    position: absolute;
    background-color: #E6E6E6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 0;
}

.beranda h1 {
    position: relative;
    color: #3C3C3C;
    z-index: 1;
    display: inline-block;
    font-weight: 200;
    font-size: 6vw;
    margin-top: 15px;
}

.beranda p {
    color: #3C3C3C;
    z-index: 1;
    font-weight: 400;
    width: 41vw;
    margin-top: 1rem;
}

.btn-join {
    background-color: #94C866;
    border-bottom: 2px solid #6da63c;
    transition: all 0.05s ease;
    padding: 22px 42px;
    margin-top: 25px;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: .3s;
}

.btn-join:hover {
    background-color: #77b144;
}

.learn-more {
    display: inline-block;
    color: #3C3C3C;
    z-index: 1;
    font-size: 14px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1rem rgb(255 255 255 / 10%);
}

.learn-more:hover {
    color: #316E35;
}

.learn-more i {
    margin-left: 3px;
    color: #316E35;
}


/* Section Statistik */

.statis {
    background: url(img/bg-statistik.jpg) #7A7A7A;
    background-size: cover;
    background-position: center center;
    display: flex;
}

.statis-item {
    flex-basis: 25%;
    text-align: center;
    color: #ffffff;
    padding: 4rem 0;
    z-index: 1;
    position: relative;
    background-color: rgba(60, 60, 60, 0.4);
    transition: background-color 0.3s ease-in;
}

.statis-item:hover {
    background-color: rgba(60, 60, 60, 0.8);
}

.statis-icon {
    height: 4rem;
    display: block;
    width: auto;
    margin: 0 auto 1rem;
}

.statis-item .jumlah {
    font-size: 3rem;
    font-weight: 200;
    margin: 15px 0;
}

.statis-item .penjelasan {
    font-size: 14px;
}


/* Section Help */

.help {
    background-color: #ffffff;
    color: #3C3C3C;
    text-align: center;
    padding: 6rem 0;
    position: relative;
}

.help h2 {
    font-weight: 300;
    font-size: 3rem;
}

.help .text-help {
    line-height: 35px;
    margin: 2rem;
    font-size: 21px;
    font-weight: 300;
}

.col-help {
    display: flex;
    justify-content: center;
    margin: 70px 0;
}

.col-item {
    padding: 45px 15px;
}

.col-item.overlay {
    position: relative;
}

.col-item.overlay::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 0;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}

.col-item.overlay:hover::before,
.col-item.overlay:hover::after {
    opacity: 0.5;
}

.col-item.col-img-1 {
    background-image: url(img/col-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.col-item.col-img-2 {
    background-image: url(img/col-img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.col-item.col-img-3 {
    background-image: url(img/col-img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.col-item h3 {
    font-size: 30px;
    font-weight: 300;
    z-index: 1;
    position: relative;
    margin-bottom: -15px;
}

.col-item .text-col-item {
    font-size: 14px;
    position: relative;
    font-weight: 400;
    margin: 30px 0;
    line-height: 25px;
}

.btn-our span {
    color: #3C3C3C;
    font-size: 14px;
}

.btn-our span:hover {
    color: #77b144;
}

.btn-our span i {
    color: #77b144;
    margin-left: 3px;
}

/* Section How Help */
.how-help {
    background-color: #E6E6E6;
    color: #3C3C3C;
    padding: 5rem 0;
    position: relative;
    text-align: center;
}
.how-help h2 {
    font-weight: 200;
    font-size: 3rem;
}
.how-help .sub-help {
    margin: 2.5rem 0;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

.how-container {
    width: 1036px;
    text-align: left;
    padding: 0 14px;
    margin: 0 auto;
}

.how-container::before {
    display: table;
    content: "";
}

.how-point {
    color: #388049;
}

.icon-critical{
    background: url(img/icon-how1.png),#94C866;
    position: relative;
    width: 30px;
    height: 30px;
    background-size: 70% auto;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.icon-critical::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    border-left: 30px solid transparent;
    border-bottom: 30px solid #a1cf79;
}

.icon-critical::after {
    content: '';
    position: absolute;
    right: -30px;
    bottom: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid #87c153;
}

.how-content {
    margin-left: 110px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 0 4px 4px 4px;
    padding: 12px 10px 5px 20px;
    margin-bottom: 2rem;
    position: relative;
}

.how-content::before {
    content: '';
    position: absolute;
    left: -2rem;
    top: -1px;
    border-right: 2rem solid #d9d9d9;
    border-bottom: 2rem solid transparent;
}

.how-content h3 {
    font-weight: 200;
    color: #388049;
    font-size: 1.6rem;
}

.how-content p {
    color: #3C3C3C;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
}

.how-help .btn-our {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.how-help .btn-our span i {
    color: #316E35;
}

/* Footer */

.footer-main {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 56px;
    display: block;
}

.footer-container {
    width: 1036px;
    padding: 0 14px;
    margin: 0 auto;
}

.footer-container::before,
.footer-row::before {
    display: table;
    content: "";
}

.footer-row {
    margin: 0 -14px;
    width: 100%;
    position: relative;
    display: flex;
}

article {
    display: block;
}

.footer-article {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    width: 50%;
    line-height: 1.8;
    margin-right: 40px;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: -10px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-article p {
    margin-bottom: 14px;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.footer-about,
.footer-support {
    width: 25%;
    padding-top: 50px;
    margin: 0 14px;
}

.medium-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 28px;
    color: #3C3C3C;
}

.footer-link {
    list-style: none;
}

.nav-link {
    margin-bottom: 20px;
}

.nav-link a {
    color: #7A7A7A;
    font-size: 14px;
}


/* Sub Footer */

.sub-footer {
    background-color: #434343;
    padding: 28px 0;
}

.sub-footer-container {
    padding: 0 14px;
}

@media (max-width: 991px) {
    /*Header*/
    .header {
        padding-left: 0;
        padding-right: 0;
        /* align-items: center; */
    }
    .logo-header {
        justify-content: space-between;
        margin-right: auto;
    }
    .navigation {
        background-color: #ffffff;
        position: fixed;
        top: 0;
        display: block;
        right: -210px;
        width: 210px;
        height: 100vh;
        padding-top: 56px;
        padding-bottom: 70px;
        transform: translateX(0);
        z-index: 1000;
        overflow: auto;
    }
    .navigation ul,
    .nav-item {
        display: block;
    }
    .nav-item a {
        padding: 6px 12px;
    }
    .location-header {
        display: none;
    }
    .btn-sign {
        margin-right: 72px;
    }
    .btn-hamburger {
        display: block;
        position: absolute;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        top: 18px;
        right: 18px;
    }
    .btn-hamburger .bar,
    .btn-hamburger::after,
    .btn-hamburger::before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #e6e6e6;
        margin: 6px 0;
        transition: .3s;
        border-radius: 10px;
    }
    .btn-hamburger.active::before {
        transform: rotate(-45deg) translate(-6px, 7px);
        background-color: #94C866;
    }
    .btn-hamburger.active::after {
        transform: rotate(45deg) translate(-6px, -7px);
        background-color: #94C866;
    }
    .btn-hamburger.active .bar {
        opacity: 0;
    }
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 50%;
        min-height: 100vh;
        display: block;
        z-index: 90;
        background-color: #fff;
        padding-top: 90px;
        transition: .3s;
    }
    .mobile-nav.active {
        left: 50%;
    }
    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        color: #000;
        transition: .3s;
        font-size: 16px;
    }
    .mobile-nav a:hover {
        background-color: #94C866;
        color: #fff;
    }
    /* Beranda */
    .beranda h1 {
        font-size: 10vmin;
    }
    .beranda p {
        width: 70vw;
        margin-top: 10px;
    }
    /* Statis */
    .statis {
        flex-direction: column;
    }
    /* Help */
    .help .text-help {
        line-height: 28px;
        margin: 20px 15px;
        font-size: 16px;
        font-weight: 300;
    }
    .col-help {
        flex-direction: column;
    }
}